body{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.color-picker-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1{
  margin: 50px;
  font-size: 3rem;
}

.color-display{
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid grey;
  border-radius: 8px;
  margin-bottom: 30px;
  transition: 0.25s ease;
}

.color-display p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2rem;
    text-align: center;
  }

label{
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

input[type="color"]{
  margin-top: 5px;
  width: 100px;
  height: 50px;
  padding: 5px;
  border-radius: 10px;
  border: 1px solid grey;
}